-i https://pypi.org/simple/
apscheduler==3.5.1
certifi==2021.5.30
chardet==4.0.0
idna==2.10
psycopg2==2.7.5
pytz==2021.1
requests==2.25.1
six==1.16.0
sqlalchemy==1.2.8
tmdbsimple==2.2.0
tzlocal==2.1
urllib3==1.26.5
